<!-- Blog 1: -->
<div class="col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">Morning Rituals for a Productive Day</h3>
        <div class="mt-2 text-body-secondary">By Dr. Emily Carter, Ph.D. in Cognitive Psychology</div>
        <p class="card-text my-4">Ever wondered how successful people kickstart their day? According to a study conducted by Harvard Business Review, incorporating mindfulness....</p>
        <button data-blog-target="#blog1" class="icon-link gap-1 view-blog">Open blog </button>
        <div class="blog" id="blog1">
            <div class="blog-content">
                <div class="blog-header">
                  <div class="title">Morning Rituals for a Productive Day</div>
                  <button data-close-button class="close-button">&times;</button>
                </div>
                <p class="author">By Dr. Emily Carter, Ph.D. in Cognitive Psychology</p>
                <img src="images/morning-routine.jpg" alt="blog-image" class="popup-image">
                <div class="blog-body">
                    Ever wondered how successful people kickstart their day? According to a study conducted by Harvard Business Review, incorporating mindfulness practices like meditation in the morning can lead to a 20% increase in cognitive performance. In this blog, we'll explore five scientifically-backed morning rituals that can set the tone for a productive and fulfilling day. From the benefits of a morning workout, as highlighted by the American Heart Association, to the importance of a nutritious breakfast according to research published in the Journal of Nutrition, these habits are not just anecdotal but rooted in solid scientific evidence. Try them out and watch as your mornings transform into a time of focus and positivity.
                </div>
            </div>
        </div>
        <div id="screen"></div>
      </div>
      <div class="col-auto d-none d-xl-block">
        <img src="images/morning-routine.jpg" alt="blog-image" class="blog-image">
      </div>
    </div>
  </div>

<!-- Blog 2: -->
<div class="col-md-12">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <h3 class="mb-0">Tech Tips: How to Build Your Own PC</h3>
      <div class="mt-2 text-body-secondary">By Dr. Emily Carter, Ph.D. in Cognitive Psychology</div>
      <p class="card-text my-4">Welcome to our guide on building your own PC! Whether you're a gaming enthusiast, a professional in need of a high-performance workstation, or..</p>
      <button data-blog-target="#blog2" class="icon-link gap-1 view-blog">Open blog </button>
      <div class="blog" id="blog2">
          <div class="blog-content">
              <div class="blog-header">
                <div class="title">Morning Rituals for a Productive Day</div>
                <button data-close-button class="close-button">&times;</button>
              </div>
              <p class="author">By Dr. Emily Carter, Ph.D. in Cognitive Psychology</p>
              <img src="images/instructional.png" alt="blog-image" class="popup-image">
              <div class="blog-body">
                <p>Welcome to our guide on building your own PC! Whether you're a gaming enthusiast, a professional in need of a high-performance workstation, or simply looking to upgrade your computer, assembling your own rig can be a rewarding and cost-effective endeavor. Follow these steps to embark on your DIY PC building journey.</p>
                <p>1. Gather Your Components:
                Get CPU, GPU, motherboard, RAM, storage, PSU, case, cooling solution, and peripherals.</p>
                <p>2. Prep Your Workspace:
                Set up a clean, well-lit area with tools like screwdrivers and thermal paste.</p>
                <p>3.Install Components: 
                  CPU: Carefully insert into motherboard CPU socket.
                RAM and Storage: Seat RAM modules and install storage drives in case.
                Mount Motherboard: Place into case, align with standoffs, and secure with screws.
                GPU and Expansion Cards: Insert into appropriate slots and secure.
                Connect PSU and Cables: Mount PSU, connect power cables to components.
                Cable Management: Organize cables for airflow and aesthetics.
                </p>
                <p>Test and Boot Up:
                Double-check connections, power on, and follow BIOS setup to boot up.
                Conclusion:
                You've successfully built your own PC! Enjoy your custom setup for gaming, work, and more.
              </p>
              </div>
          </div>
      </div>
      <div id="screen"></div>
    </div>
    <div class="col-auto d-none d-xl-block">
      <img src="images/instructional.png" alt="blog-image" class="blog-image">
    </div>
  </div>
</div>

<!-- Blog 3: -->
<div class="col-md-12">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <h3 class="mb-0">Morning Rituals for a Productive Day</h3>
      <div class="mt-2 text-body-secondary">By Dr. Emily Carter, Ph.D. in Cognitive Psychology</div>
      <p class="card-text my-4">Ever wondered how successful people kickstart their day? According to a study conducted by Harvard Business Review, incorporating mindfulness....</p>
      <button data-blog-target="#blog3" class="icon-link gap-1 view-blog">Open blog </button>
      <div class="blog" id="blog3">
          <div class="blog-content">
              <div class="blog-header">
                <div class="title">Morning Rituals for a Productive Day</div>
                <button data-close-button class="close-button">&times;</button>
              </div>
              <p class="author">By Dr. Emily Carter, Ph.D. in Cognitive Psychology</p>
              <img src="images/review.png" alt="blog-image" class="popup-image">
              <div class="blog-body">
                  Ever wondered how successful people kickstart their day? According to a study conducted by Harvard Business Review, incorporating mindfulness practices like meditation in the morning can lead to a 20% increase in cognitive performance. In this blog, we'll explore five scientifically-backed morning rituals that can set the tone for a productive and fulfilling day. From the benefits of a morning workout, as highlighted by the American Heart Association, to the importance of a nutritious breakfast according to research published in the Journal of Nutrition, these habits are not just anecdotal but rooted in solid scientific evidence. Try them out and watch as your mornings transform into a time of focus and positivity.
              </div>
          </div>
      </div>
      <div id="screen"></div>
    </div>
    <div class="col-auto d-none d-xl-block">
      <img src="images/review.png" alt="blog-image" class="blog-image">
    </div>
  </div>
</div>
</div>
</div>